
<% if @club.avatar.attached? %>
  <img src="<%= url_for(@club.avatar) %>" alt="Logo de <%= @club.name %>" class="img-fluid rounded">
<% else %>
  <p>No hay imagen de club.</p>
<% end %>
  <h1><%= @club.name %></h1>
  <p>Admin: <%= @club.king_admin&.user&.firstname %> <%= @club.king_admin&.user&.lastname %> (<%= @club.king_admin&.user&.slug %>)</p>
  <%= link_to 'Edit', edit_club_path(@club) %> |
  <%= link_to 'Back', clubs_path %>


  <h1><%= @club.name %></h1>
<p><%= @club.description %></p> 




<% membership = current_user.memberships.find_by(joinable: @club) %>

<% if membership&.approved? %>
  <button class="btn btn-success" disabled>Ya eres miembro</button>
<% elsif membership&.pending? %>
  <button class="btn btn-warning" disabled>Solicitud en espera</button>
<% else %>
  <%= link_to "Solicitar entrar", 
        join_club_path(@club), 
        method: :post, 
        remote: true, 
        class: "btn btn-primary", 
        id: "join-club-btn",
        data: { disable_with: "Enviando solicitud..." } %>
<% end %>
