
<% if @club.avatar.attached? %>
  <img src="<%= url_for(@club.avatar) %>" alt="Logo de <%= @club.name %>" class="img-fluid rounded">
<% else %>
  <p>No hay imagen de club.</p>
<% end %>
  <h1><%= @club.name %></h1>
  <p>Admin: <%= @club.king_admin&.user&.firstname %> <%= @club.king_admin&.user&.lastname %> (<%= @club.king_admin&.user&.slug %>)</p>
  <%= link_to 'Edit', edit_club_path(@club) %> |
  <%= link_to 'Back', clubs_path %>


  <h1><%= @club.name %></h1>
<p><%= @club.description %></p> 

