<h1>Convocar jugadores del equipo <%= @team.name %></h1>

<%= button_to 'Convocar a todos', send_callups_to_all_duels_path(team_id: @team.id, duel_id: params[:duel_id]), method: :post, class: "btn btn-success" %>

<ul>
  <% @users.each do |user| %>
    <li id="user_<%= user.id %>">
      <%= user.name %>
      <%= button_to 'Convocar', send_callup_duels_path(team_id: @team.id, user_id: user.id, duel_id: params[:duel_id]),
                      method: :post,
                      form: { data: { turbo_stream: true } },
                      class: "btn btn-outline-primary btn-sm" %>
    </li>
  <% end %>
</ul>