<h1>Selecciona una Arena para el duelo</h1>

<div id="map" style="height: 400px; margin-bottom: 20px;"></div>

<ul>
  <% @arenas.each do |arena| %>
    <li>
      <strong><%= arena.name %></strong><br>
      <%= arena.address %> - <%= arena.city %>
      <%= button_to 'Seleccionar esta arena',
          duel_path(@duel, arena_id: arena.id),
          method: :patch,
          class: "btn btn-sm btn-primary mt-2" %>
    </li>
  <% end %>
</ul>

<hr>

<h2>Duelos compatibles</h2>

<% if @duelos_compatibles.any? %>
  <ul>
    <% @duelos_compatibles.each do |duelo| %>
      <li>
        <%= link_to "Duelo ##{duelo.id} - #{duelo.starts_at.strftime("%d/%m %H:%M")}", duel_path(duelo) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No hay duelos compatibles disponibles.</p>
<% end %>

<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet" />

<script>
  mapboxgl.accessToken = '<%= Rails.application.credentials.dig(:mapbox, :public_token) %>';

  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [<%= current_user.longitude || -74.0721 %>, <%= current_user.latitude || 4.7110 %>],
    zoom: 12
  });

  <% @arenas.each do |arena| %>
    new mapboxgl.Marker()
      .setLngLat([<%= arena.longitude %>, <%= arena.latitude %>])
      .setPopup(new mapboxgl.Popup().setText("<%= arena.name %>"))
      .addTo(map);
  <% end %>
</script>
