<h1>Selecciona una Arena para el duelo</h1>

<div id="map" style="height: 400px; margin-bottom: 20px;"></div>

<ul>
  <% @arenas.each do |arena| %>
    <li>
      <strong><%= arena.name %></strong><br>
      <%= arena.address %> - <%= arena.city %>
      <%= button_to 'Seleccionar esta arena',
          select_type_duels_path(duel_id: @duel.id, arena_id: arena.id),
          method: :get,
          class: "btn btn-sm btn-primary mt-2" %>
    </li>
  <% end %>
</ul>

<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet" />

<script>
  mapboxgl.accessToken = '<%= Rails.application.credentials.dig(:mapbox, :public_token) %>';


  const defaultLat = <%= current_user.latitude || 4.7110 %>;
  const defaultLng = <%= current_user.longitude || -74.0721 %>; // Bogotá

  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [defaultLng, defaultLat],
    zoom: 12
  });

  <% @arenas.each do |arena| %>
    new mapboxgl.Marker()
      .setLngLat([<%= arena.longitude %>, <%= arena.latitude %>])
      .setPopup(new mapboxgl.Popup().setText("<%= arena.name %>"))
      .addTo(map);
  <% end %>
</script>