<h1>Editar Perfil</h1>

<%= form_with model: @user, local: true do |form| %>
  <div>
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </div>
  <div>
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>

  <%= image_tag @user.avatar.variant(resize_to_limit: [100, 100]) if @user.avatar.attached? %>

  <div>
    <%= form.submit "Guardar cambios" %>
  </div>
<% end %>
