
  <h1><%= @clan.name %></h1>
  <p>Admin: <%= @clan.admin.name %></p>
  <%= link_to 'Edit', edit_clan_path(@clan) %> |
  <%= link_to 'Back', clans_path %>


  <h1><%= @clan.name %></h1>
<p><%= @clan.description %></p>

<% if current_user && !@clan.memberships.where(user: current_user).exists? %>
  <%= button_to "Join Clan", clan_memberships_path(@clan), method: :post %>
<% end %>

<h2>Members</h2>
<% @memberships.each do |membership| %>
  <div>
    <%= membership.user.email %> - <%= membership.role %>
  </div>
<% end %>